* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7b977;
  font-family: sans-serif;
}

header {
  text-align: left;
  background-color: #e4007f;
  color: #ffffff;
  padding: 20px;
}

/* inputArea */
.inputArea {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  margin-right: 350px;
  margin-left: 350px;
  border-radius: 30px;
}

label,
input {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* choiceArea */
.choiceArea {
  text-align: center;
}

.song {
  display: inline-block;
  background-color: #ffffff;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

/* detailArea */
.detailArea {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  margin-right: 350px;
  margin-left: 350px;
  border-radius: 30px;
}
