* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7b977;
  font-family: sans-serif;
}

header {
  text-align: left;
  background-color: #e4007f;
  color: #ffffff;
  padding: 20px;
}

.closeButton {
  margin-right: 70%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

/* inputArea */
.inputArea {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  margin: 100px 350px;
  border-radius: 30px;
}

label,
input {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* choiceArea */
.choiceArea {
  text-align: center;
}

.song {
  display: inline-block;
  background-color: #ffffff;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

/* detailArea */
.detailArea {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  margin: 100px 350px;
  border-radius: 30px;
}

.lyric {
  white-space: pre-wrap;
}
